<div class="form-signin w-100 m-auto">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'm-1 form-control' %>
          <%= f.label :email %>
        </div>
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "current-password", class: 'm-1 form-control' %>
          <%= f.label :password %>
        </div>

        <%= f.submit "Sign in", class: 'btn btn-lg btn-primary m-1 w-100' %>
      <% end %>
      <div class="mt-5 mb-3">
        <%= render "shared/links" %>
      </div>
    </div>
  </div>
</div>
