<div class="form-signin w-100 m-auto">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <%= render "shared/error_messages", resource: resource %>

        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          <%= f.label :email %><br />
        </div>
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          <%= f.label :password %><br />
        </div>

        <%= f.submit "Sign in", class: 'w-100 btn btn-lg btn-primary' %>
      <% end %>
      <div class="mt-5 mb-3">
        <%= render "shared/links" %>
      </div>
    </div>
  </div>
</div>
