<div class='film' 
     id="film-<%= film.id %>" 
     data-film_id='<%= film.id %>' 
     style="<%= 'color:#0f0' if current_user.present? && current_user.rated?(film) %>" >
  <%= film.inspect %> 
  <br>
  <%= rate %>
  <% if current_user.present? && !current_user.rated?(film) %>
    <%= render 'rates/new', film: film %>
  <% end %>

  <%= link_to 'show', film_path(film) %>
  <br>
  <br>
</div>  
