<div class='film' 
     id="film-<%= film.id %>" 
     data-film_id='<%= film.id %>' 
     style="<%= 'color:#0f0' if user_signed_in? && current_user.rated?(film) %>" >
  <%= render 'shared/error_messages', resource: film %>
  <%= film.inspect %> 
  <br>
  <%= rate %>  
  <%= render 'rates/new', film: film, ajax: true %>
  <%= link_to 'show', film_path(film) %>
  <br>
  <br>
</div>  
