<% ValidOptionsChecker.call(@options, %i[rate_params category]) %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="fs-1 text-center align-middle">Catalog</h1>
    </div>
    <div class="row d-flex">
      <div class="col">
        <%= form_tag films_path, method: :get, class: 'form-floating align-middle' do %>
          <div class="input-group d-flex">
          <%= filter_tag @options[:category], class: 'form-select' %>
          <%= submit_tag 'filter', class: 'btn btn-outline-primary' %>
        </div>  
        <% end %> 
      </div>
      <div class="col">
        <%= paginate @films %>
      </div>
      <div class="col">
        <div class="row">
          <% if can? :manage, Film.new %>
            <%= link_to 'Add film', new_film_path, class: 'col btn btn-primary align-self-stretch' %>
          <% end %>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <% @films.each do |film| %>
    <%= render 'films/shared/film', local_options: PartialsDataCollector.call(film, @options[:rate_params]) %>
  <% end %>
</div>
