<h1>Films#index</h1>

<!-- ability for admin -->
<%= link_to 'add new film', new_film_path %>
<!-- end -->

<% @films.each_with_index do |film, i| %>
  <div style="<%= 'color:#0f0' if @rated_film_ids.include?(i) %>" >
    <%= film.inspect %> 
    <br>
    <%= @rates[i] %> | <%= render 'rates/new', film_id: film.id %>
    <%= link_to 'show', film_path(film) %>
  </div>  
<% end %>
  