<% ValidOptionsChecker.call(local_options, %i[film rate can_rate?]) %>

<div class="row mb-2" data-film_id='<%= local_options[:film].id %>' >
  <div class="col-12">
    <div class="row g-0 border rounded overflow-hidden flex-row mb-4 h-250 position-relative">
      <div class="col-8 p-4 d-flex flex-column position-static">   
        <h3 class="mb-0">
          <%= local_options[:film].title %>
        </h3>
        
        <div class="mb-1 text-muted">
          <%= local_options[:film].category.humanize %>
        </div>

        <strong class="d-inline-block mb-2 text-primary">
          <%= local_options[:rate] %>
        </strong>       
        

        <p class="card-text mb-2">
          <%= description_text(local_options[:film], action_name) %>
        </p>

        <div class="row inline">
          <div class="col align-top">
            <%= show_link(local_options[:film], action_name, class: 'text-uppercase') %>
          </div>
          <div class="col">
            <%= render_rate_form(local_options.slice(:can_rate?, :film)) %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <%= poster_tag local_options[:film], class: 'img-thumbnail border-0' %>
      </div>  
    </div>
  </div>
</div>
