<div class='film' data-film_id='<%= local_options[:film].id %>' 
  style="<%= 'color:#0f0' if local_options[:rated?] %>" >

  <% if @rate.present? %>
    <%= render('shared/error_messages', resource: @rate) %>
  <% end %>

  <% if local_options.fetch(:film).poster.attached? %>
    <%= image_tag(local_options.fetch(:film).poster, width: 200)  %>
  <% else %>
    <%= image_tag('no-image-available.jpg', width: 200) %>
  <% end %>



  <%= local_options.fetch(:film).inspect %> 
  <%= local_options.fetch(:rate) %>  

  <% if user_signed_in? && !local_options[:rated?] %>
    <%= render 'rates/new', local_options: {
          film: local_options.fetch(:film)
        } %>
  <% end %>



  <% unless action_name == 'show' %>
    <%= link_to 'show', film_path(local_options[:film]) %>
  <% end %>
</div>  
