<%= form_for @film do |f| %>
  <div class="form-floating">
    <%= f.text_field :title, maxlength: 30, class: 'form-control m-1'%>
    <%= f.label :title %>
  </div>

  <div class="form-floating">
    <%= f.text_area :description, size: '50x10', class: 'form-control m-1 h-50' %>
    <%= f.label :description, "Description" %>
  </div>

  <div class="input-group m-1">
    <%= f.label :category, "Category", class: 'input-group-text' %>          
    <%= f.select :category, 
          options_for_select(Film.categories.values, @film.category || ''), 
          include_blank: true, class: 'form-select' %>
  </div>

  <div class="input-group m-1">
    <%= f.label :poster, "Poster", class: 'input-group-text' %>
    <%= f.file_field :poster, class: 'form-control' %>
  </div>

  <%= form_film_submit action_name, class: 'btn btn-lg btn-primary m-1 w-100' %>

<% end %>
