<div class="form-signin w-100 m-auto">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>

        <%= render "shared/error_messages", resource: resource %>

        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control m-1' %>
          <%= f.label :email %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control m-1' %>
          <%= film_registrate_password_lable %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control m-1' %>
          <%= f.label :password_confirmation %>
        </div>

        <%= f.submit "Sign up", class: 'btn btn-lg btn-primary w-100 m-1' %>
      <% end %>
      <div class="mt-5 mb-3">
        <%= render "shared/links" %>
      </div>
    </div>
  </div>
</div>
